<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h1>Enviar para "gastos"</h1>
    <form action="/submit" method="post">
        <label for="valor">Valor:</label>
        <input type="text" name="valor" required><br>

        <label for="evento">Evento:</label>
        <input type="text" name="evento" required><br>

        <label for="dia">Dia:</label>
        <input type="text" name="dia" required><br>

        <label for="pagamento">Pagamento:</label>
        <input type="text" name="pagamento" required><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
